body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;}

.nav {
    max-width: 600px;
    padding: 0;
    margin: 0 auto;
    border-bottom: none;}

.form {
    max-width: 600px;
    padding: 0px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05); }

.index ul,
.index ol {
    -khtml-padding-start: 0;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    padding-start: 0;
    margin: 0px;
    margin-left: 15px; }
    
.form hr {
    margin-bottom: 2px; }
    
.typecodes .btn {
    margin: 0 15px; }

.bookmarklet {
    cursor: move; }