{
    "presets": [
        ["@babel/preset-env", {
            "corejs": {
                "proposals": true,
                "version": 3
            },
            "useBuiltIns": "usage"
        }],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-async-to-generator"
    ],
    "env": {
        "test": {
            "presets": [[
                "@babel/preset-env",
                {
                    "targets": {
                        "node": 8
                    }
                }
            ]]
        }
    }
}