{
    "presets": [
        ["@babel/preset-env", {
            "corejs": {
                "proposals": true,
                "version": 3
            },
            "useBuiltIns": "usage"
        }]
    ]
}